{% extends 'base.html' %}
{% block body %}
        <!--FORMS-->
    <form action = "/update/{{todo.sno}}" method = "POST"> 
        <div class="mb-3">
            <label for="todo" class="form-label">ToDoTitle</label>
            <input type="text" class="form-control" name = "name" id="name" value="{{todo.name}}" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Desc</label>
            <input type="text" class="form-control" name = "desc" id="desc" value = "{{todo.desc}}" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

{% endblock body %}
    